{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="contact-wrapper my-5">
    <h2>Contact us</h2>
    <p class="my-3">Please fill the form below to contact us</p>
    <form method="POST">
      {% csrf_token %}<br />
      <div class="form-group">
        {{ form.name.label_tag }} <input type="text" class="form-control <br />
        {% if form.name.errors %}is-invalid{% endif %}" name="name" id="id_name"
        placeholder="Your name" value="{{ form.name.value|default:"" }}" />
        <br />
        {% if form.name.errors %}
        <div class="invalid-feedback">{{ form.name.errors }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.message.label_tag }}
        <textarea
          class="form-control mb-3 {% if form.message.errors %} is-invalid{% endif %}"
          id="id_message"
          name="message"
          rows="3"
        >
            {{ form.message.value|default:""}}
        </textarea>
        {% if form.message.errors %}
        <div class="invalid-feedback">{{ form.message.errors }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
